.cache
.project
.settings
.classpath
*.swp
BUILD
target/
lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
/.idea/
/.idea_modules/
*.iml
tutorial/data/cofollows.tsv
tutorial/data/cosineSim.tsv
tutorial/data/graphFiltered.tsv
tutorial/data/intersection.tsv
tutorial/data/jaccardSim.tsv
tutorial/data/leftDiff.tsv
tutorial/data/outdegree.tsv
tutorial/data/output0.txt
tutorial/data/output1.txt
tutorial/data/output2.txt
tutorial/data/output3.txt
tutorial/data/output4.txt
tutorial/data/output5.txt
tutorial/data/rightDiff.tsv
tutorial/data/tmp3.tsv
tutorial/data/jsonoutput0.tsv
tutorial/data/avrooutput0.avro
.scalding_repl
scalding-hadoop-test/NOTICE
NOTICE
*~
build/