language: scala
jdk: oraclejdk7
sudo: false
before_install: umask 0022
cache:
  directories:
#  - $HOME/.m2
  - $HOME/.ivy2
  - $HOME/.sbt/0.13/dependency
script:
  - "echo no op"
matrix:
  include:
#BASE TESTS
    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-args scalding-date"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-args scalding-date"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-avro scalding-hraven scalding-commons"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-avro scalding-hraven scalding-commons"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-core"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-core"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-hadoop-test"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-hadoop-test"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-jdbc scalding-json"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-jdbc scalding-json"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-macros"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-macros"
      script: "scripts/run_test.sh"

# not committed yet
    # - scala: 2.10.4
    #   env: BUILD="base" TEST_TARGET="scalding-commons-macros"
    #   script: "scripts/run_test.sh"

    # - scala: 2.11.5
    #   env: BUILD="base" TEST_TARGET="scalding-commons-macros"
    #   script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-parquet scalding-parquet-scrooge"
      script: "scripts/run_test.sh"

    - scala: 2.11.5
      env: BUILD="base" TEST_TARGET="scalding-parquet scalding-parquet-scrooge"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="base" TEST_TARGET="scalding-repl"
      script: "scripts/run_test.sh"

    - scala: 2.10.4
      env: BUILD="test tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding"
      - "scripts/test_tutorials.sh"

    - scala: 2.11.5
      env: BUILD="test tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding"
      - "scripts/test_tutorials.sh"

    - scala: 2.10.4
      env: BUILD="test matrix tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding"
      - "scripts/test_matrix_tutorials.sh"

    - scala: 2.11.5
      env: BUILD="test matrix tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding"
      - "scripts/test_matrix_tutorials.sh"

    - scala: 2.10.4
      env: BUILD="test repl and typed tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding-repl"
      - "scripts/test_repl_tutorial.sh"
      - "scripts/build_assembly_no_test.sh scalding-core"
      - "scripts/test_typed_tutorials.sh"

    - scala: 2.11.5
      env: BUILD="test typed tutorials"
      script:
      - "scripts/build_assembly_no_test.sh scalding-core"
      - "scripts/test_typed_tutorials.sh"

    - scala: 2.10.4
      env: BUILD="test execution tutorials"
      script:
      - "scripts/build_assembly_no_test.sh execution-tutorial"
      - "scripts/test_execution_tutorial.sh"
