language: scala
scala:
  - 2.10.0
  - 2.9.3
script:
  - "sbt -Duser.name=$USER.$RANDOM -Dlog4j.configuration=file://$TRAVIS_BUILD_DIR/project/travis-log4j.properties ++$TRAVIS_SCALA_VERSION assembly"
  - "scripts/test_tutorials.sh"
jdk:
  #the scala compiler has problems with jdk7 intermittently
  - openjdk6
